<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pivotalsoft.property">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".App.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PhoneActivity"
            android:label="Phone verification"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/Apikey" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".LoginActivity" />
        <activity android:name=".WelcomeActivity" />
        <activity
            android:name=".BottamNavgationActivity"
            android:label="@string/title_activity_bottam_navgation" />
        <activity android:name=".PropertyDetailsActivity" />
        <activity android:name=".PropertyImagesActivity" />
        <activity android:name=".ContactAdviserActivity" />
        <activity android:name=".FilterActivity" />
        <activity android:name=".AddPropertyActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".AddPersonalInformationActivity" />
        <activity android:name=".AddCertificatesActivity" />
        <activity android:name=".AddDocumentsActivity" />
        <activity android:name=".EditCertificatesActivity" />
        <activity android:name=".EditDocumentActivity"></activity>
    </application>

</manifest>